.table-label {
  margin-right: 6px;
}

.row-style {
  margin-bottom: 0px;
}

.not-verified {
  color: #ffa726;
}

.forward-btn > a {
  color: white;
}

.mohe-waiting-approved {
  color: green;
}

.mohe-final-approved {
  color: green;
}
